{{#foreach posts}}	
		{{#if feature_image}}
		<section class="index img"> 
			<a href="{{{url}}}" rel="prefetch"><img src="{{{feature_image}}}" class="avatar {{{custom_template}}}"></img></a>
			<!-- post_class: {{post_class}} -->
		{{else}}
			<section class="index">
		{{/if}}	
			<div>
				<a href="{{{url}}}" rel="prefetch"><h2 class="title">{{{title}}}</h2>
					<p>{{{excerpt}}}</p>
					<div class="meta">
						<time pubdate datetime="{{date format='YYYY-MM-DD'}}" title="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}} | {{primary_tag.name}}{{/if}}
					</div>
				</a>
			</div>
		</section>
{{/foreach}}