		{{#if feature_image}}
		<a class="index img" href="{{{url}}}"><span><img 
			srcset="{{img_url feature_image size='xs'}} 340w, {{img_url feature_image size='s'}} 475w, {{img_url feature_image size='m'}} 750w"
			sizes="(max-width: 767px) 100vw, (max-width: 1023px) 50vw, 700px"
			src="{{img_url feature_image size='xs'}}" 
			class="avatar {{{custom_template}}}"></img></span>
			<!-- post_class: {{post_class}} -->
		{{else}}
			<a class="index" href="{{{url}}}">
		{{/if}}	
			<div>
				<h2 class="title">{{{title}}}</h2>
				<p>{{{excerpt}}}</p>
				<div class="meta">
					<time pubdate datetime="{{date format='YYYY-MM-DD'}}" title="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}} | {{primary_tag.name}}{{/if}}
				</div>
			</div>
		</a>
