		{{#if feature_image}}
		<a class="index img" href="{{{url}}}"><span><img src="{{{feature_image}}}" class="avatar {{{custom_template}}}"></img></span>
			<!-- post_class: {{post_class}} -->
		{{else}}
			<a class="index" href="{{{url}}}">
		{{/if}}	
			<div>
				<h2 class="title">{{{title}}}</h2>
				<p>{{{excerpt}}}</p>
				<div class="meta">
					<time pubdate datetime="{{date format='YYYY-MM-DD'}}" title="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}} | {{primary_tag.name}}{{/if}}
				</div>
			</div>
		</a>
