{{!< default}}
{{#page}}
<header class="blog-cover index-cover" {{#if feature_image}}style="background-image: url({{feature_image}})"{{else}}{{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}{{/if}}>
	<section style="background-color: rgba(0, 0, 0, 0.5)">	
		<div class="container">
			<h1>{{{title}}}</h1>
			<h3>{{{excerpt}}}</h3>
		</div>				
	</section>			
</header>
{{/page}}

{{! The main content area on the homepage }}
<main class="container">
    {{> loop }}
	
    {{pagination }}	
</main>
