{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="blog-cover" {{#if feature_image}}style="background-image: url({{feature_image}})"{{else}}{{#if @site.cover_image}}style="background-image: url({{@sit.cover_image}})"{{/if}}{{/if}}>
    <section>
        <div class="container">
            <h1 class="title">{{{title}}}</h1>
            <h3>{{{excerpt}}}</h3>
            <div class="social">
                <a class="icon-tw" href='http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}' target="_blank"><i class="fab fa-twitter fa-sm"></i></a>
                <a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}' target="_blank"><i class="fab fa-linkedin-in fa-sm"></i></a>			
                <a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fab fa-facebook-f fa-sm"></i></a>				
            </div>			
        </div>
    </section>			
</div>

{{! Everything below outputs content of the the post which has been published }}
<article>
    <div class="container">
        <header>
            <h2 class="title xs-show">{{{title}}}</h2>		
            <div class="meta">
                <time pubdate datetime="{{date format="YYYY-MM-DD"}}" title="{{date format='DD MMMM YYYY'}}">{{date format='DD MMMM YYYY'}}</time> {{#if tags}}| {{tags}}{{/if}}
            </div>			
        </header>

        <section>
            {{content}}				
        </section>

        <footer>
            <p class="author">
                {{#if primary_author.profile_image}}<a rel="author" href="/author/{{primary_author.slug}}" title="{{primary_author.name}}"><img src="{{primary_author.profile_image}}"></a>{{/if}}
                Written by <strong><a rel="author" href="/author/{{primary_author.slug}}" title="{{primary_author.name}}">{{primary_author.name}}</a></strong><br>
                <span class="muted">{{{primary_author.bio}}}</span>
            </p>
        </footer>

        <section class="xs-show">
            <div class="social xs-show">
                <a class="icon-tw" href='http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}' target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                <a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}' target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>			
                <a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>						
            </div>				
        </section>
		
	{{> pager }}			
	<section data-page="{{comment_id}}">
		<div class="just-comments" data-recaptcha="true" data-apikey="49881679-0fc7-401c-b7b6-3778b1f19630" ></div>
		<script async src="https://just-comments.com/w.js"></script>	
	</section>                            
	
        {{! TODO: Add disqus support }}
    </div>
</article>
{{/post}}
